.container {
  width: 400px;
  height: 200px;
  background-color: wheat;
  border: 2px solid rgb(32, 2, 2);
}
.labelInpt {
  display: block;
  font-size: 20px;
  font-weight: 700;
}
.input {
  display: block;
  margin: 15px;
}
.contactText {
  font-size: 25px;
  font-weight: 600;
  margin: 15px;
}
.input:focus {
  border: 5px solid rgb(115, 115, 231);
  border-radius: 3px;
  outline: none;
}
li {
  list-style: none;
}
